h1{

color: blue;

background-color: yellow;
}

h2{
color: red;

background-color: gray;

}

h3{

color: yellow;

background-color: brown;

}

p{

  color: gray;

  background-color: magenta;
}