#paragrafo{

text-transform: uppercase;
color: lightgray;
font-family: Lucida Console;
text-indent: 1.2em;
text-shadow: 1px 1px 1px red;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-color: blue;
text-decoration-thickness: 0.2em;

}